# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
/liftOver
/liftOverMerge
/liftUp
/swiftover
/swiftover-test-library

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# profiling
profilegc.log

# resources/test files
resource/*
