# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
/liftOver
/liftOverMerge
/liftUp
/swiftover
/swiftover-test-library
unpack_test
vcftest

# DUB
.dub
docs.json
__dummy.html
docs/
dub.selections.json
dub_platform_probe*.s

# Code coverage
*.lst

# profiling
profilegc.log

# resources/test files
resources/*

.vscode